{
    "mongoURI": "mongodb+srv://{username}:{password}@mealplanner690-if2ak.mongodb.net/mealplanner?retryWrites=true&w=majority",
    "jwtSecret": "mySecretToken",
    "NODE_ENV": "development"
}
